<style type="text/css">
.thumbnail {
  border: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.item{
  background-color:whiteSmoke;
  width: 200px;
  height: 420px;
  margin: 5px;
  float: left;
  padding: 5px;
}
</style>

<script type="text/javascript">
$(document).ready(function() {

  $('.row-fluid').isotope({
      itemSelector : '.item',
      layoutMode : 'fitRows'
  });

});
</script>

<div class="left">

<div class="row-fluid">
  <ul class="thumbnails"> 
    <% @products.each do |product| %>
      <li class="item">
        <div class="thumbnail">
          <% if product.image_url %>
            <%= image_tag(product.image_url, :size => "150x150", :class => 'img-polaroid') %><br />
          <% else %>
            <%= image_tag("placeholder.jpg", :size => "150x150", :class => 'img-polaroid') %>
          <% end %>
          <h3><%= link_to h(product.name), product %></h3>
          <% if product.description? %>
            <p><%= truncate(product.description, :length => 100) %></p>
          <% else %>
            <p>No Description</p>
          <% end %>
          <span class="label label-info price"><%= number_to_currency(product.price, :unit => "£") %></span></p>
          <p>
            <%= button_to 'Add to Cart', cart_items_path(:product_id => product), :class => "btn btn-primary" %>
          </p>

        </div>
      </li>
    <% end %>
  </ul> 
</div>

</div>