<div class="header">

	<% if signed_in? %>
	<div class="navbar to-the-right">
		<div class="navbar-inner">
			<ul class="nav">
				<% if current_user.email == 'admin@estore.com' %>
				<li><%= link_to "Control Panel", '/control-panel' %></li>
				<li class="divider-vertical"></li>
				<% end %>
				<li><%= link_to "My Account", user_path(current_user) %></li>
				<li class="divider-vertical"></li>
				<li><%= link_to "Logout", '/logout' %></li>
  			</ul>
  		</div>
	</div>
	<% else %>
	<div class="navbar to-the-right">
		<div class="navbar-inner">
			<ul class="nav">
				<li><%= link_to "Register", '/register' %></li>
  				<li class="divider-vertical"></li>
  				<li><%= link_to "Login", '/login' %></li>
  			</ul>
  		</div>
	</div>
	<% end %>

	<% logo = image_tag("logo.gif", :class => "logo") %>
	<%= link_to logo, root_path %>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><%= link_to 'Home', root_path %></li>
					<li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Browse Categories <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                      <% Category.all.each do |category| %>
    					<li><%= link_to category.name, category %></li>
					  <% end %>
                      </ul>
                    </li>
					<li><%= link_to 'All Products', products_path %></a></li>
				</ul>
				<%= form_tag search_path, :class => 'navbar-form to-the-right', :method => 'get' do %>
    					<%= text_field_tag :search, params[:search], :class => 'span2', :placeholder => 'Search' %>
				<% end %>
			</div>
		</div>
	</div>

</div>

